@import url(https://fonts.googleapis.com/css?family=Oswald);

p, li {
	background-color: #E8BD9A;
	font-family: Garamond, serif;
}

body, h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

#testing { background-image: url(unit_3/images/typewriter hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin: auto;
}